@media (max-width: $desktop-width) {
  .about__wrapper {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 120px;
  }

  .about__heading {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin-left: 5px;
  }

  .about__text {
    font-family: "PT Mono";
    margin-top: 8px;
    margin-left: 6px;
  }

  .about__text--paragraph-two {
    margin-top: 15px;
  }

  .about__button {
    display: inline-block;
    margin-top: 35px;
    margin-left: 6px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    border: 1px solid $color-neon-blue;
    border-radius: 3px;
    padding: 14px 58px 12px 48px;;
  }

  .about__button a {
    color: $color-neon-blue;
  }
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    width: 665px;
    padding-top: 72px;
  }

  .about__heading {
    margin-left: 25px;
  }

  .about__text {
    font-family: "PT Mono";
    margin-top: 8px;
    margin-left: 22px;
  }

  .about__button {
    margin-top: 3px;
    margin-left: 28px;
  }
}

@media (max-width: $mobile-width) {
  .about__png {
    display: none;
  }

  .about__wrapper {
    width: 320px;
    padding-top: 0px;
    grid-template-columns: none;
  }

  .about__heading {
    font-size: 28px;
    line-height: 140.62%;
    margin-left: 4px;
  }

  .about__text {
    font-size: 14px;
    line-height: 134.4%;
    margin-top: 0px;
    margin-left: 5px;
  }

  .about__text--paragraph-one {
    width: 285px;
  }

  .about__text--paragraph-three {
    display: none;
  }

  .about__button {
    margin-top: 17px;
    margin-left: 5px;
    padding: 9px 42px 9px 45px;
  }

}

