@media (max-width: $desktop-width) {
  .footer {
    background-color: $color-background-products-btn-footer;
    height: auto;
    padding-top: 50px;
    padding-bottom: 37px;
  }

  .footer__social {
    margin-top: 28px;
    margin-left: -14px;
  }

  .sections-site__heading {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
    margin-top: 7px;
  }

  .contacts__heading {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
    margin-top: 7px;
    margin-left: -10px;
  }

  .social__list {
    margin: 0;
    padding: 0;
  }

  .contacts__telephon-footer,
  .sections-site__list {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $color-default-white;
  }

  .contacts__list {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $color-default-white;
    margin: 23px 0px 0 -10px;
  }

  .sections-site__container{
    display: flex;
  }


  .sections-site__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .sections-site__item {
    padding-top: 15px;
  }

  .footer__footer-container {
    display: flex;
    //justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .social__list {
    display: flex;
    justify-content: space-evenly;
    width: 197px;
  }

  .sections-site {
    width: 370px;
    margin-left: 160px;
  }

  .footer__contacts {
    width: 320px;
    //margin-right: 15px;
    margin-left: 140px;
  }

  .footer__block {
    display: flex;
  }
}

/* Таблетка */

@media (max-width: $tablet-width) {
  .footer__footer-container {
    display: block;
    height: auto;
    width: 700px;
  }

  .footer__logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
  }

  .sections-site {
    margin: 0;
  }

  .footer__contacts {
    margin: 0;
  }

  .footer__social {
    margin-top: 12px;
    margin-left: -14px;
  }

  .social__list {
    display: flex;
    justify-content: space-evenly;
    width: 197px;
  }

  .sections-site__list {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contacts__heading {
    margin-left: 0px;
  }

  .sections-site__container {
    flex-direction: column;
  }

}

@media (max-width: $mobile-width) {
  .footer {
    padding-top: 35px;
  }

  .footer__footer-container {
    width: 320px;
  }

  .footer__logo {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .contacts__telephon-footer,
  .sections-site__list,
  .contacts__list {
    font-size: 14px;
  }

  .footer__block {
    flex-direction: column;
  }

}



