.footer {
  background-color: $color-background-products;
  height: auto;
}

.social__list,
.sections-site__list,
.contacts__list {
  list-style: none;
}

.sections-site__heading,
.sections-site__item,
.footer__contacts,
.contacts__telephon {
  color: $color-default-white;
}

.footer__footer-container {
  display: flex;
}

.social__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}


