@media (max-width: $desktop-width) {
  .intro__wrapper {
    width: 100%;
    height: 910px;
    background: linear-gradient($intro-grey, $color-default-white);
    background-image: url(/img/intro-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    position: relative;
    margin-top: -150px;
  }

  .inrto__text {
    position: absolute;
    margin-top: -577px;
    margin-left: 476px;
    color: $color-default-white;
  }

  .inrto__text h2 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  .inrto__text p {
    width: 610px;
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    margin-top: 31px;
  }

  .inrto__text a {
    margin-top: 46px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .intro__btn {
    display: inline-flex;
    padding: 17px 26px;
    color: $color-default-white;
    background-color: $color-neon-blue;
    border: none;
    border-radius: 3px;
  }
}


@media (max-width: $tablet-width) {
  .intro__wrapper {
    width: 100%;
    height: 682px;
    background: linear-gradient($intro-grey, $color-default-white);
    background-image: url(/img/intro-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    position: relative;
    margin-top: -150px;
  }

  .inrto__text h2 {
    font-size: 64px;
    line-height: 75px;
  }

  .inrto__text {
    margin-top: -462px;
    margin-left: 612px;
  }

  .inrto__text p {
    margin-top: 1px;
  }

  .inrto__text a {
    margin-top: 55px;
    margin-left: 44px;
  }
}

