@media (max-width: $desktop-width) {
  .products {
    background-color: $color-background-products-btn-footer;
    height: auto;
    margin-top: 98px;
    padding-bottom: 140px;
  }

  .products__wrapper {
    margin: 0 auto;
    width: 1220px;
  }

  .products__heading {
    padding-top: 68px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
  }

  .products__heading--mobile {
    display: none;
  }

  .products__heading,
  .product__item {
    color: $color-white;
  }

  .products__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 53px;
    list-style: none;
  }

  .product__item {
    width: 350px;
    height: 650px;
  }

  .product__item h5 {
    width: 155px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 39px;
    margin-top: 46px;
  }

  .products__btn {
    width: 60px;
    height: 60px;
    margin-top: 483px;
    margin-left: 289px;
    background-color: $color-neon-blue;
  }

  .products__link {
    position: absolute;
    margin-left: 30px;
    padding-top: 18px;
  }

  .production-of-boards {
    background-image: url(/img/products/plata1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mounting-of-boards {
    background-image: url(/img/products/plata2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .accessories {
    background-image: url(/img/products/plata3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: $tablet-width) {
  .products {
    margin-top: 82px;
    padding-bottom: 75px;
  }

  .products__wrapper {
    margin: 0 auto;
    width: 670px;
  }

  .products__heading {
    padding-top: 56px;
  }

  .products__list {
    //display: block;
    flex-wrap: wrap;
    margin-top: 37px;
  }

  .product__item {
    width: 670px;
    height: 250px;
  }

  .products__link {
    margin-left: 30px;
    padding-top: 18px;
  }

  .products__btn {
    margin-top: 84px;
    margin-left: 609px;
  }

  .production-of-boards {
    background-image: url(/img/products/plata1for770.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mounting-of-boards {
    background-image: url(/img/products/plata2for770.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
  }

  .accessories {
    background-image: url(/img/products/plata3for770.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
  }
}

@media (max-width: $mobile-width) {
  .products {
    margin-top: 79px;
  }

  .products__wrapper {
    width: 320px;
    padding-top: 48px;
  }

  .products__heading {
    display: none;
  }

  .products__heading--mobile {
    display: initial;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140.62%;
    color: $color-white;
  }

  .product__item {
    width: 270px;
    //height: 250px;
  }

  .product__item h5 {
    font-size: 18px;
  }

  .products__btn {
    margin-top: 84px;
    margin-left: 209px;
  }

  .production-of-boards {
    background-image: url(/img/products/plata1for320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mounting-of-boards {
    background-image: url(/img/products/plata2for320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
  }

  .accessories {
    background-image: url(/img/products/plata3for320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
  }
}


